.select2-container--default .select2-selection--multiple .select2-selection__choice
{
	padding: 5px !important;
}

.span-grid
{
	margin:5px;
}

.modal-content {
	border-radius: 5px !important;
}

.modal-header {
	background-color: #f0f0f0;
}
